.app {
    border: 1px black solid;
    height: 600px;
    width: 400px;
    text-align: center;
    background-color: lightyellow;
    font-family: 'Satisfy', cursive;
    border-radius: 3px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: lightyellow; 
}
::-webkit-scrollbar-thumb {
    background: lightcoral; 
}
h2 {
    font-size: 36px;
}
.form {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.form button {
    background-color: lightcoral;
    height: 21px;
    margin: 3px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.form button:hover {
    box-shadow: 0 3px 3px -2px gray;
}
.task {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
    background-color: lightcoral;
    font-size: 20px;
    box-shadow: 0 3px 3px -2px gray;
}
.taskcomplete {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
}
input::placeholder{
    opacity: .7;
}
.search {
    margin-bottom: 24px;
}
.search input::placeholder {
    text-align: center;
}
input {
    border-radius: 3px;
}
